:root{
    --blanco:#fff;
    --negro:#000;
}
html {
    scroll-behavior: smooth;
}

/* NAVBAR */
#titulo-navbar{
    color: var(--blanco);
    font-size: 50px;    
    text-shadow: 8px 8px 8px rgba(0,0,0,0.72);
}

#logo-navbar{
    width: 60px;
}

#nav-items > .nav-item > .nav-link{
    color: var(--blanco);
    font-size: 18px;
    text-shadow: 8px 8px 8px rgba(0,0,0,0.72);
}

.navbar-brand, .nav-link {    
    font-family: "Vidaloka";
}   

/* QUIENES SOMOS */
#quienes-somos{
    background-color: var(--negro);
    color: var(--blanco);
    font-family: "Vidaloka";
}

.iconos{
    font-size: 25px;
    color: var(--blanco);    
    width: 100%;
    padding: 5px;
}

/* DESTACADOS */
#destacados, #contacto{
    background-color: var(--negro);
    color: var(--blanco);
    font-family: "Vidaloka";
}

.card-title {
    font-weight: 800;
    font-family: "Vidaloka";
}

.card-text{
    font-weight: 100;
    color: grey;
}

/* FOOTER */
footer{
    /* background-color:cyan;     */
    position: relative;
    font-family: "Vidaloka";
    font-size: 30px;
    top: -16px;
    color: var(--blanco);

    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

#iconos-footer{
    display: flex;
    gap: 20px;
}
#iconos-footer > a{
    text-decoration: none;
    color: var(--blanco);
}

.tooltip-custom .tooltip-inner{
    background-color: white;    
    color: black;    
}